
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: #f9f9f9;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}
